@model aquasend.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Password";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/css/user.css" />

<div class="container">
    <p class="text-center text-success">@TempData["Success"]</p>
    <p class="text-center text-danger">@TempData["Error"]</p>
    <div class="card col-md-8 text-center mx-auto bg-white p-5">
        <h2 class="text-center heading mb-5">Change Password</h2>
        <form asp-controller="Users" asp-action="ChangePassword" method="post">
            <input class="form-control m-2 col-md-10 mx-auto" asp-for="Password" type="password" placeholder="Current Password" required />
            <input class="form-control m-2 col-md-10 mx-auto" asp-for="NewPassword" type="password" placeholder="New Password" required />
            <input class="form-control m-2 col-md-10 mx-auto" asp-for="ConfirmNewPassword" type="password" placeholder="Confirm New Password" required />
            <button class="btn-lg m-2 mt-3 col-md-10 mx-auto" type="submit">Submit</button>
        </form>
    </div>
</div>

