@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Welcome to AquaSend</h1>
    <section>
      <div class="container-fluid">
          <div class="col-md-10">
               <div class="col-md-8 mt-10">
                <h1>
                  <span class="hear"> Where you request for water delivery</span> <br />
                  <span class="connecting"> and get it delivered in no time</span>
                </h1>
                
              </div>
             
             
          </div>
       
      </div>
    </section>
</div>
